@import 'ColorScheme.css';

.canvas-container {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.canvas-container .canvas-image {
  max-width: calc(100% - 125px);
  max-height: calc(100% - 125px);
}

.canvas-container button {
  margin-top: 10px;
  background-color: var(--button-color);
}
