@import 'ColorScheme.css';

.crop-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto; /* Allow pointer events on this container */
}

.crop-overlay-container button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-region {
  position: absolute;
  border: 2px dashed #fff; /* You can customize the border style */
  pointer-events: none; /* Ensure the crop region does not interfere with mouse events on underlying elements */
  background-color: rgba(0, 0, 0, 0);
}
