@import 'ColorScheme.css';

.gallery-container {
  position: flex;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid var(--white);
}

.image-thumbnail {
  width: 200px;
  height: auto;
  border: 1px solid var(--white);
}

.image-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
