@import 'ColorScheme.css';

.canvas-container {
  position: relative;
}

.image-processing-tab {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 10px; /* Adjust the top position as needed */
}

.image-processing-tab button {
  margin-bottom: 10px; /* Adjust the margin as needed */
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-processing-tab button.selected {
  background-color: var(--selected-button-color); /* Adjust the background color for selected button */
}

.image-processing-tab button:hover {
  outline: none;
}
.image-processing-tab button:focus {
  outline: none;
}
